.DS_Store
*.o
*.swp
*.swo
*.exe
*.Debug
*.Release
*.user
moc_*
ui_*
debug/*
release/*
Makefile
rghost_uploader
qrc_systray.cpp
#Xcode
*.pbxuser
*.mode1v3
.*
*.kdev4
*_plugin_import.cpp
rghost_uploader_resource.rc
